{{page-title "Users"}}
<div class='input-group input-group-lg container my-5 gx-4'>
  <Input 
    class='form-control' 
    placeholder='Search users' 
    @value={{mut (get this "q")}}
  />
  <LinkTo @route="users.new" class='mx-3 btn btn-outline-info'>Create New User</LinkTo>
</div>

<table class='container table'>
  <thead>
    <tr class='table-secondary'>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Verified</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |user|}}
      <tr>
        <td>{{user.id}}</td>
        <td>
          <LinkTo @route="users.id" @model={{ user }}>
            {{user.name}}
          </LinkTo>
        </td>
        <td>{{user.userLocal.username}}</td>
        <td>{{user.verified}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
