<div
  class='nav nav-tabs {{tabClass}}'
>
  {{#each this.args.tabs as |tab index|}}
    <li class="nav-item">
      <a 
        class="nav-link {{if (eq tab this.currentActive) 'active' ''}}" 
        aria-current="page" href="#"
        {{on 'click' (action this.onTabChange tab)}}
      >
        {{tab.name}}
      </a>
    </li>
  {{/each}}
</div>
<div>
  {{yield currentActive.component}}
</div>